<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head-fragments :: head('403 Server Error')}"><title></title></head>

<body>
<div class="error-container">
    <h1 class="error-title text-white" th:text="${errorTitle}"></h1>
    <p class="error-message text-white" th:text="${errorMessage}"></p>
    <p class="error-description">If you think this is a mistake, please contact the administrator.</p>
    <a href="/user-management" class="back-link">&larr; Back</a>
</div>
</body>
</html>
