<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head-fragments :: head('User profile page')}"><title></title></head>

<body>
<header>
  <nav th:replace="~{fragments/navbar-fragments :: header-navbar}"></nav>
</header>
<section class="container">
  <h1 th:text="${user.first_name}"></h1>
  <h2>Profile Page</h2>
  <hr>

<!--  <table class="table table-hover table-striped table-bordered">-->
<!--    <thead class="table-dark">-->
<!--    </thead>-->
<!--    <tbody class="table-primary shadow-lg p-3 mb-5">-->
<!--    <tr th:each="user : ${userList}">-->
<!--      <td th:text="${user.userId}"></td>-->
<!--      <td th:text="${user.first_name}"></td>-->
<!--      <td th:text="${user.last_name}"></td>-->
<!--      <td th:text="${user.username}"></td>-->
<!--      <td th:text="${user.role.roleName}"></td>-->
<!--      <td th:text="${user.email}"></td>-->
<!--      <td th:text="${#temporals.format(user.dateAdded, 'dd-MM-yyyy | HH:mm:ss')}"></td>-->
<!--      <td class="d-flex align-middle justify-content-evenly pe-0 ps-0">-->

<!--        <form method='post' th:action="@{/users/edit/{id}(id=${user.userId})}" >-->
<!--          <input type="hidden" name="userId" th:value="${user.userId}"/>-->
<!--          <input type="hidden" name="_method" value="delete"/>-->
<!--          <button type="button"-->
<!--                  th:attr="data-fullName=${user.first_name}"-->
<!--                  class="btn btn-primary">View-->
<!--          </button>-->
<!--        </form>-->
<!--        <form method='post' th:action="@{/users}" >-->
<!--          &lt;!&ndash; In the above  case, this refers to the element that triggers the onsubmit event &ndash;&gt;-->
<!--          <input type="hidden" name="userId" th:value="${user.userId}"/>-->
<!--          <input type="hidden" name="_method" value="delete"/>-->
<!--          <button type="button"-->
<!--                  onclick="deleteUserHandler(this)"-->
<!--                  th:attr="data-fullName=${user.first_name}"-->
<!--                  class="btn btn-danger">Delete-->
<!--          </button>-->
<!--        </form>-->

<!--      </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
</section>

<div th:replace="~{fragments/dialogs :: confirm-dialog}"></div>

</body>

</html>
