<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head-fragments :: head('Users page')}"><title></title></head>

<body>
<header>
    <nav th:replace="~{fragments/navbar-fragments :: header-navbar}"></nav>
</header>
<section class="container">
    <h1>Users page</h1>
    <hr>

    <table class="table table-hover table-striped table-bordered">
        <thead class="table-dark">
        <tr>
            <th>User id</th>
            <th>Name</th>
            <th>Username</th>
            <th>Role name</th>
            <th>Date added</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody class="table-primary shadow-lg p-3 mb-5">
        <tr th:each="user : ${userList}">
            <td th:text="${user.userId}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.role.roleName}"></td>
            <td th:text="${#temporals.format(user.dateAdded, 'dd-MM-yyyy | HH:mm:ss')}"></td>
            <td>
                <div class="btn-group" role="group">
                    <a th:href="@{/users/edit/{id}(id=${user.userId})}" class="btn btn-success">Edit</a>
                    <form method='post' th:action="@{/users}"
                          th:attr="data-fullName=${user.name}"
                          onsubmit="return deleteUserHandler(this)">
                        <!-- In the above  case, this refers to the element that triggers the onsubmit event -->
                        <input type="hidden" name="userId" th:value="${user.userId}"/>
                        <input type="hidden" name="_method" value="delete"/>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</section>

<!--<script th:inline="javascript">-->

<!--    const deleteUserHandler = function (formElement) {-->
<!--        const fullName = formElement.getAttribute('data-fullName');-->
<!--        return confirm(`Are you sure to permanently remove ${fullName}?`);-->
<!--    }-->
<!--</script>-->
</body>

</html>
